*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: hsl(218, 22%, 67%);
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

main{
    background-color: #fff;
    width: 375px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 20px;
    margin-top: 70px;
}

#moreinfo{
    display: flex;
    flex-direction: column;
  
   
}


.part2{
    width: 375px;
    background-color: hsl(179, 62%, 43%);
    padding: 20px;
  
}


.button{
    display: inline-block;
}

.part3{
    width: 375px;
    background-color: hsla(179, 62%, 43%, 0.678);
    padding: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

